* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

div {
    padding: 30px;
}

.pai {    
    height: 100vh;
    background: yellow;
    overflow: hidden;
}

.child1 {
    background: turquoise;
}

.child2 {
    background: darkolivegreen;
}

p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px;
}