* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 40px;
    font-family: sans-serif;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* a linha de baixo tem o mesmo resultado da linha acima */
    grid-template-columns: repeat(3, 1fr); 

    /* para tornar a grid responsiva tanto para desktop quanto para mobile 
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));  */
    gap: 20px;
}

.grid div {
    background: tomato;
    min-height: 100px;

}