* {
    margin: 0;
    padding: 0;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}

.grid .col {
    width: 200px;
    height: 200px;
    background: red;
    margin: 20px;
    float: left;
}

@media (max-width: 300px){
    .grid .col {
        width: 100%;
    }
}